fastapi/__pycache__/
fastapi/app/__pycache__/
fastapi/*.py[cod]
fastapi/*$py.class
fastapi/env/
fastapi/*.egg-info/
fastapi/*.eggs/
fastapi/*.whl
fastapi/*.log
fastapi/*.tmp
fastapi/*.swp
fastapi/.coverage
fastapi/htmlcov/
fastapi/.env
fastapi/.env.*
fastapi/build/
fastapi/dist/
fastapi/.idea/
fastapi/.DS_Store
fastapi/Thumbs.db

sveltekit/node_modules
sveltekit/.output
sveltekit/.vercel
sveltekit/.netlify
sveltekit/.wrangler
sveltekit/.svelte-kit
sveltekit/build
sveltekit/.DS_Store
sveltekit/Thumbs.db
sveltekit/.env
sveltekit/.env.*
sveltekit/!.env.example
sveltekit/!.env.test
sveltekit/vite.config.js.timestamp-*
sveltekit/vite.config.ts.timestamp-*
